{% extends "design/nav&footer.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 170px; margin-bottom: 118px;" role="main">
        <p class="line">
            <h5>Contact Us</h5><br>
            Want an easier solution for a Free Website? Head straight to Wix and immediately start
            customizing your website! Wix is an online website builder with a simple drag & drop
            interface, meaning you do the work online and instantly publish to the web.
            Nothing to download, nothing to upload. All Wix templates are fully customizable and
            free to use. Just pick one you like, click Edit, and enter the online editor.
            Change, add, and remove items as you like. Wix also offers a ton of free design
            elements right inside the editor, like images, icons, animation files, and interactive
            widgets. Publish your Free Website in minutes!<br>
            <br>
            <strong>
                Name : Chit Hlaing Win<br>
                Address : No.1125, Kamahtan Street, Myittay Nyunt Ward, Tamwe Township, Yangon Region<br>
                Office Phone Number : 09-446265443<br>
                Email : chithlaingwin.letpan@gmail.com
            </strong>
        </p>
    </div>
{% endblock %}