{% extends "design/nav&footer.html" %}
{% block title %}Hair Design{% endblock %}
{% block content %}
    <div class="container mt mb-5" role="main">
        <h3 class="row justify-content-center justify-content-sm-start">Hair Design</h3>
        <div class="row">
                <div class="text-center col-sm-6 col-md-4 col-lg-3 mb-5 shadow-lg">
                    <img class="mini_image_border" src="/static/design/image/second.jpg" alt="second">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/third.jpg" alt="three">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/fourht.jpg" alt="four">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/fifth.jpg" alt="five">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/eight.jpg" alt="eight">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/nine.jpg" alt="nine">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/ten.jpg" alt="ten">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/eleven.jpg" alt="eleven">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/twelve.jpg" alt="eleven">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/thirteen.jpg" alt="eleven">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/fourteen.jpg" alt="eleven">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/fifteen.jpg" alt="eleven">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/sixteen.jpg" alt="eleven">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/seventeen.jpg" alt="eleven">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/eighteen.jpg" alt="eleven">
                </div>
                <div class="text-center col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-5">
                    <img class="mini_image_border" src="/static/design/image/ninteen.jpg" alt="eleven">
                </div>
        </div>
        <a class="d-flex justify-content-around" href="{% url 'design-hairdesign' %}">Show more</a>
    </div>
{% endblock %}