{% extends "design/nav&footer.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<main role="main" class="container mb-5">
    <div class="">
        <div class="first_image mt row align-items-center">
            <img class="col-md-3 pl-0" src="static/design/image/great-hairstyle.jpg" alt="hairstyle">
            <div class="col-md-6">
                <h1 class="" style="line-height: 1.6;">Great hairstyle comes</h1>
                <h1 class="" style="line-height: 1.6;">from the experts.</h1>
                <h3 class="font-italic text-warning" style="line-height: 1.6;">Created By: Chit Hlaing Win</h3>
            </div>
        </div>
        <div class="">
            <div class="row mt-5">
                <div class="col-md-6 col-lg-3">
                    <img class="mini_image_border" src="static/design/image/second.jpg" alt="second">
                    <p class="mr-4 mt-4" style="line-height: 2;">
                        <strong class="text-uppercase">best hairstylists</strong><br>
                        Want an easier solution for a Free Website?
                        Head straight to Wix and immediately start customizing
                        your website! This is just a place holder,
                        so you can see what the site would look like.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3">
                    <img class="mini_image_border" src="static/design/image/third.jpg" alt="third">
                    <p class="mr-4 mt-4" style="line-height: 2;">
                        <strong class="text-uppercase">featured hairstyle</strong><br>
                        Wix is an online website builder with a simple drag
                        & drop interface, meaning you do the work online and
                        instantly publish to the web. Nothing to download,
                        nothing to upload.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3">
                    <img class="mini_image_border" src="static/design/image/fourht.jpg" alt="third">
                    <p class="mr-4 mt-4" style="line-height: 2;">
                        <strong class="text-uppercase">featured hairstyle</strong><br>
                        Wix is an online website builder with a simple drag
                        & drop interface, meaning you do the work online and
                        instantly publish to the web. Nothing to download,
                        nothing to upload.
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3">
                    <img class="mini_image_border" src="static/design/image/fifth.jpg" alt="third">
                    <p class="mr-4 mt-4" style="line-height: 2;">
                        <strong class="text-uppercase">featured hairstyle</strong><br>
                        Wix is an online website builder with a simple drag
                        & drop interface, meaning you do the work online and
                        instantly publish to the web. Nothing to download,
                        nothing to upload.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-lg-5 mt-2 mini_image_border">
                <h3 class="bg-info d-inline">Featured</h3>
                <div class="d-flex mt-3">
                    <img class="" src="static/design/image/sixth.jpg" alt="sixth">
                    <p class="ml-5 h4"><strong>Hair, I just meet you</strong></p>
                </div>
                <p class="mt-3" style="line-height: 2;">
                    This website template has been designed by Free Website Templates
                    for you, for free. You can replace all this text with your own text.
                    You can remove any link to our website from this website template,
                    you're free to use this website template without linking back to us.
                    If you're having problems editing this website template,
                    then don't hesitate to ask for help on the Forums.<br>

                    Want an easier solution for a Free Website? Head straight to Wix and
                    immediately start customizing your website! Wix is an online website
                    builder with a simple drag & drop interface, meaning you do the work
                    online and instantly publish to the web. Nothing to download,
                    nothing to upload.<br>

                    All Wix templates are fully customizable and free to use.
                    Just pick one you like, click Edit, and enter the online editor.
                    Change, add, and remove items as you like. Wix also offers a ton
                    of free design elements right inside the editor, like images, icons,
                    animation files, and interactive widgets. Publish your Free Website
                    in minutes!<br>
                </p>
            </div>
            <div class="text-white col mt-2">
                <div class="box">
                    <h3 class="bg-info d-inline ml-3">Hairstyle</h3>
                    <p class="p-3 mt-2" style="line-height: 2;">
                        This website template has been designed by Free Website
                        Templates for you, for free. You can replace all this text
                        with your own text. You can remove any link to our website
                        from this website template, you're free to use this website
                        template without linking back to us. If you're having problems
                        editing this website template, then don't hesitate to ask for
                        help on the Forums.
                    </p>
                </div>
                <div class="box mt-5">
                    <div class="row align-items-center">
                        <img class="col-md-3 rounded float-left" src="static/design/image/seventh.png" alt="hairstyle">
                        <h5 class="text-white col-md-5" style="line-height: 2">Are you losing your hair?
                            Let us help you in bringing back your confidence.
                            Call Us at 09: 446265443
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}